[submodule "Pathfinding/vendor/SEL"]
	path = Pathfinding/vendor/SEL
	url = https://github.com/ClementDrn/SEL
[submodule "App/vendor/SFML"]
	path = App/vendor/SFML
	url = https://github.com/ClementDrn/SFML
